-r requirements.txt


#######################################################
### Make your life easier                           ###
#######################################################
ipython
django-extensions

#######################################################
### Debug                                           ###
#######################################################
django-debug-toolbar
